<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.olleh.snowwallpaper"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk
		android:minSdkVersion="8" />

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<!--
			<activity android:name=".Snow_WallpaperActivity"
			android:label="@string/app_name"> <intent-filter> <action
			android:name="android.intent.action.MAIN" /> <category
			android:name="android.intent.category.LAUNCHER" /> </intent-filter>
			</activity>
		-->
		<service
			android:label="@string/app_name"
			android:icon="@drawable/icon"
			android:name="com.olleh.snowwallpaper.SnowWallpaper"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action
					android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data
				android:name="android.service.wallpaper"
				android:resource="@xml/wall" />
		</service>
		<activity
			android:name=".Snow_WallpaperSetting"
			android:theme="@android:style/Theme.Light.WallpaperSettings"
			android:exported="true"></activity>
		<activity
			android:name="com.waps.OffersWebView"
			android:configChanges="keyboardHidden|orientation" />
		<meta-data
			android:name="WAPS_ID"
			android:value="9sdsadfsdfasdfasdfasdfasdf" />
		<meta-data
			android:name="WAPS_PID"
			android:value="sfasd" />
	</application>
	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission
		android:name="android.permission.GET_TASKS" />
	<!--以下权限为1.5.3版本新加权限-->
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission
		android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

</manifest>